
#back{
  background-image: url(/images/bg/CBimage.jpg);
}

#cbbg{
  background-image:url(/images/bg/CBimage.jpg);
  width: 100%;
  height: 1000px;
  background-size:cover;
  text-align: left;
}

.cbtopNav{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}

#cbtopNav li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

#cbtopNav li a{
  font-family: 문체부 쓰기 정체;
  font-size: 80px;
  color: white;
  border-bottom: none;
}

#cbtopNav a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.cbmark{
  display: inline-block;
  margin : auto;
  padding-top: 5px;
  padding-left: 30px;
  width: 96%;
  float: right;

}

#cbmark li{
    display: inline-block;
    padding-left: 30px;
}

#cbmark li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#cbmark a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.cbsg{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-left: 30px;
  width: 96%;
  float: right;

}
#cityImg{
  padding-left: 30px;
}

#cbsg li{
  display: inline-block;
  padding-left: 30px;
}

#cbsg li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#cbsg a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

#cbmap{
  float: left;
  padding-left: 65%
}
.sideText{
  width: 35%;
  height: 100%;
  float: left;
}
