
#back{
  background-image: url(/images/bg/GBimage.jpg);
}

#gbbg{
  background-image:url(/images/bg/GBimage.jpg);
  width: 100%;
  height: 1000px;
  background-size:cover;
  text-align: left;
}

.gbtopNav{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}

#gbtopNav li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

#gbtopNav li a{
  font-family: 문체부 쓰기 정체;
  font-size: 80px;
  color: white;
  border-bottom: none;
}

#gbtopNav a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.gbmark{
  display: inline-block;
  margin : auto;
  padding-top: 5px;
  padding-left: 30px;
  width: 96%;
  float: right;

}

#gbmark li{
    display: inline-block;
    padding-left: 30px;
}

#gbmark li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#gbmark a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.gbsg{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-left: 30px;
  width: 96%;
  float: right;

}
#cityImg{
  padding-left: 30px;
}

#gbsg li{
  display: inline-block;
  padding-left: 30px;
}

#gbsg li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#gbsg a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

#gbmap{
  float: left;
  padding-left: 65%
}
.sideText{
  width: 35%;
  height: 100%;
  float: left;
}
