
#back{
  background-image: url(/images/bg/Incheonimage.jpg);
}

#incheonbg{
  background-image:url(/images/bg/Incheonimage.jpg);
  width: 100%;
  height: 1000px;
  background-size:cover;
  text-align: left;
}

.incheontopNav{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}

#incheontopNav li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

#incheontopNav li a{
  font-family: 문체부 쓰기 정체;
  font-size: 80px;
  color: white;
  border-bottom: none;
}

#incheontopNav a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.incheonmark{
  display: inline-block;
  margin : auto;
  padding-top: 5px;
  padding-left: 30px;
  width: 96%;
  float: right;

}

#incheonmark li{
    display: inline-block;
    padding-left: 30px;
}

#incheonmark li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#incheonmark a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.incheonsg{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-left: 30px;
  width: 96%;
  float: right;

}
#cityImg{
  padding-left: 30px;
}

#incheonsg li{
  display: inline-block;
  padding-left: 30px;
}

#incheonsg li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#incheonsg a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

#incheonmap{
  float: left;
  padding-left: 65%
}
.sideText{
  width: 35%;
  height: 100%;
  float: left;
}
