
#back{
  background-image: url(/images/bg/Ulsanimage.jpg);
}

#ulsanbg{
  background-image:url(/images/bg/Ulsanimage.jpg);
  width: 100%;
  height: 1000px;
  background-size:cover;
  text-align: left;
}

.ulsantopNav{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;

}

#ulsantopNav li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

#ulsantopNav li a{
  font-family: 문체부 쓰기 정체;
  font-size: 80px;
  color: white;
  border-bottom: none;
}

#ulsantopNav a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.ulsanmark{
  display: inline-block;
  margin : auto;
  padding-top: 5px;
  padding-left: 30px;
  width: 96%;
  float: right;

}

#ulsanmark li{
    display: inline-block;
    padding-left: 30px;
}

#ulsanmark li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#ulsanmark a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

.ulsansg{
  display: inline-block;
  margin : auto;
  padding-top: 20px;
  padding-left: 30px;
  width: 96%;
  float: right;

}
#cityImg{
  padding-left: 30px;
}

#ulsansg li{
  display: inline-block;
  padding-left: 30px;
}

#ulsansg li a{
  font-family: 문체부 쓰기 정체;
  font-size: 18px;
  color: white;
  border-bottom: none;
}

#ulsansg a, a:link{
color: #000000;
font-weight: regular;
border-bottom:none;
text-decoration: none;
}

#ulsanmap{
  float: left;
  padding-left: 65%
}
.sideText{
  width: 35%;
  height: 100%;
  float: left;
}
